html {
    background-color: black;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: cornsilk;
    padding: 0 20px 20px 20px;
    border: 5px solid red;
}

p, li {
  color: blue;
  width: 500px;
  /* border: 1px solid black; */
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 5px crimson;
    font-size: 60px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 600px;
}